.search-wrapper {
  display: inline;
  .search-field {
    width: 100%;
    height: 50px;
    font-size: x-large;
    border-radius: 7px;
  }
  .results-field {
    background-color: white;
    color: #081b25;
    .results-list {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding: 10px 5px;
        cursor: pointer;
        font-size: large;
        &:hover {
          background-color: #274f6b;
          color: white;
        }
      }
    }
  }
}
